body,h1,h2,h3,h4,h5,h6,p,ul,li{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    
    margin: 0 auto;
    min-width: 320px;
}
@media screen and (min-width:320px) and (max-width:750px) {
    .wrapper{
        width: 100%;
    }
    #top{
        width: 100%;
    }
    #slide,.slide_li{
        width:100%;
        height: 500px;
    }
    .text_wrapper02{
	    width: 70%;
	}
    .text_wrapper03{
	    width: 95%;
	}
}
@media screen and (min-width:751px) and (max-width:979px){
    .wrapper{
        width: 100%;
    }
    #top{
        width: 100%;
    }
    #slide, .slide_li{
        width:100%;
        height: 750px;
    }
    .text_wrapper02{
	    width: 39%;
	}
    .text_wrapper03{
	    width: 85%;
	}
}
@media screen and (min-width:980px) and (max-width:1440px) {
    .wrapper{
        width: 100%;
    }
    #top{
        width: 100%;
    }
    #slide, .slide_li{
        width:100%;
        height: 750px;
    }
    .text_wrapper02{
	    width: 39%;
	}
    .text_wrapper03{
	    width: 80%;
	}
}
@media screen and (min-width:1440px) {
    .wrapper{
        width: 1440px;
    }
    #top{
        width: 1440px;
    }
    #slide, .slide_li{
        width:100%;
        height: 750px;
    }
    .text_wrapper02{
	    width: 39%;
	}
    .text_wrapper03{
	    width: 70%;
	}
}
.logo{
    background: url(img/logo.png) no-repeat left;
    display: block;
    background-size: cover;
    float: left;
    height: 100%;
    width: 50px;
    margin-top: 5px;
}
.nav{
    background: url(http://static.smartisanos.cn/index/assets/images/nav-toggle.fd65b0d4fd9c13af497959bd29355bd6.png) no-repeat right;
    display: block;
    background-size: cover;
    background-origin: content-box;
    float: right;
    height: 100%;
    
    width: 100px;
    transition: none;
    position: relative;
}
header{
    height: 50px;
    background: white;
    position: fixed;
    top:0px;
    z-index: 9998;
    overflow: hidden;
    padding: 10px;
}
#top{
	position: fixed;
	top: 0;
	height: 50px;
	background: white;
	padding: 10px 0px;
}
#nav_content{
	width:200px;
	z-index: 9999;
	position: absolute;
	bottom: -167px;
	right: 0px;
	background: #000;
	color: #999;
	display: none;
}
#nav_content li{
	padding: 15px 0px;
	border-bottom: 1px solid #141414;
	color: #ddd;
	width: 100%;
}
#nav_content li:hover{
	background: #1E3058;
}
#nav_content a{
	width: 160px;
	padding: 0px 20px;
	position: relative;
	display: block;
}
#nav_content a:after{
	background: url(//static.smartisanos.cn/index/assets/images/arrow-icons.8faabdf388e0305758f4ad1d6905ccd6.png) no-repeat;
    background-size: contain;
    content: " ";
    height: 10px;
    width: 20px;
    opacity: 0.3;
    position: absolute;
    top: 50%;
    right: 5px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.main{
    margin: 0 auto;
    margin-top: 70px;
}
#section01,#section02,#section03{
    width: 100%;
    overflow: hidden;
}
#slide{
    width:100%;
    float: left;
    list-style: none;
    overflow: hidden;
}

#slide{
    position: relative;
}
.dot_wrapper{
    display: block;
    width: 75px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -37.5px;
}
.dot_wrapper li{
    display: block;
    margin-right: 15px;
    float: left;
    width:15px;
    height: 15px;
}
.dot_wrapper li:last-child{
    margin-right: 0px;
}
.dot_current{
    background: url(img/dot_current.png) no-repeat;
}
.dot{
    background: url(img/dot.png) no-repeat;
}
.dot:hover{
    cursor: pointer;
    background: url(img/dot_current.png) no-repeat;
}
.slide_li{
    position: absolute;
}
.slide01{
    background: url(img/slide01.png) no-repeat center;
    background-size: cover;
}
.slide02{
    background: url(img/slide02.png) no-repeat center;
    background-size: cover;
}
.slide03{
    background: url(img/slide03.png) no-repeat center;
    background-size: cover;
}
#section02{
    min-height: 750px;
    background: url(img/section02_bg.png) no-repeat;
    background-size: cover;
    color: white;
    font-size: 35px;
    padding-bottom: 80px;
    
}
.text_wrapper02{
    margin: 0px auto;
    text-align: center;
    margin-top: 300px;
}
.text_wrapper02,.text_wrapper03 h2{
    font-weight: normal;
}
#section02 p{
    font-family: "小塚ゴシック Pr6N";
    font-size: 14px;
    font-weight: lighter;
    padding-top: 40px;
}
#section03{
    background: url(img/section03_bg.png) no-repeat;
    background-size: cover;
    color: white;
    font-size: 35px;
    padding-bottom: 60px;
}
#section03 a{
    font-size: 20px;
    color: white;
    margin-right: 55px;
    cursor: pointer;
}
#section03 a:last-child{
    margin-right: 0px;
}
#section03 a:hover{
    border-bottom: 1px solid white;
}
#section03 .active{
    border-bottom: 1px solid white;
}
.text_wrapper03{
    margin: 0px auto;
    text-align: center;
    margin-top:90px;
}
.text_wrapper03 h2{
	margin-bottom: 40px;
}
#section03_wrapper ul{
	width:100%;
	overflow: hidden;
	text-align: left;
	margin-top:25px;
	opacity: 0;
}
.li_card{
    float: left;
    background: white;
    width:300px;
    height: 362px;
    margin:8px;
    padding: 8px;
    border-radius: 5px;
}
.li_card img{
	width: 300px;
	height: 200px;
}
.li_card h4{
	font-family: "小塚ゴシック Pr6N";
	font-size: 17px;
	color: #1e3058;
}
.li_card p{
	font-family: "小塚ゴシック Pr6N";
	font-size:14px;
	color: #697279;
	line-height: 23px;
}
.li_card span{
	float: left;
	font-size: 12px;
	display: block;
    width:60px;
    height: 25px;
    background: #989898;
    border-radius: 5px;
    text-align: center;
    line-height: 25px;
    margin-top: 25px;
    margin-right: 5px;
    cursor: pointer;
}
footer{
	width: 100%;
	height: 100px;
	background: black;
	text-align: center;
	color: #bbbbbb;
	font-size:12px;
	padding-top: 25px;
}	

.hide{
    opacity: 0;
}